<html>
    <body>
        <h1>Login</h1>
        <form action="/login" method="POST">
            <div>
                <label>Firstname</label>
                <input type="text" name="fname"/>
            </div>
            <div>
                <label>Lastname</label>
                <input type="text" name="lname"/>
            </div>
            <button type="submit">Login</button>
        </form>
    </body>
</html>